# Preprocessing

In [55]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from scipy.stats import chi2_contingency
from sklearn.feature_selection import f_classif
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Feature Engineering

### application_train

In [2]:
app_train = pd.read_csv("application_train.csv")
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### bureau

In [3]:
bureau = pd.read_csv("bureau.csv")
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [6]:
for col in bureau.select_dtypes(include=['object','bool']).columns:
    print(col)
    print(bureau[col].unique())
    print()

CREDIT_ACTIVE
['Closed' 'Active' 'Sold' 'Bad debt']

CREDIT_CURRENCY
['currency 1' 'currency 2' 'currency 4' 'currency 3']

CREDIT_TYPE
['Consumer credit' 'Credit card' 'Mortgage' 'Car loan' 'Microloan'
 'Loan for working capital replenishment' 'Loan for business development'
 'Real estate loan' 'Unknown type of loan' 'Another type of loan'
 'Cash loan (non-earmarked)' 'Loan for the purchase of equipment'
 'Mobile operator loan' 'Interbank credit'
 'Loan for purchase of shares (margin lending)']

In [4]:
bureau_avg = bureau.groupby('SK_ID_CURR')['AMT_CREDIT_SUM'].mean().round(decimals=1)
bureau_avg = bureau_avg.to_frame().reset_index()

bureau_count = bureau.groupby('SK_ID_CURR')['SK_ID_BUREAU'].count()
bureau_count = bureau_count.to_frame().reset_index()

bureau_bad_debt = bureau[bureau['CREDIT_ACTIVE']=='Bad debt'].groupby('SK_ID_CURR')['SK_ID_BUREAU'].count()
bureau_bad_debt = bureau_bad_debt.to_frame().reset_index()

bureau_avg = pd.merge(right=bureau_count, left=bureau_avg, how='inner', on='SK_ID_CURR')
bureau_avg = pd.merge(right=bureau_bad_debt, left=bureau_avg, how='inner', on='SK_ID_CURR')
bureau_avg.columns = ['SK_ID_CURR', 'b_avg_AMT_CREDIT_SUM', 'b_bureau_count', 'b_bad_debt_count']

In [61]:
bureau_avg.sample(1)

    SK_ID_CURR  b_avg_AMT_CREDIT_SUM  b_bureau_count  b_bad_debt_count
13      337762              149418.0               9                 1

### previous_application

In [5]:
prev_app = pd.read_csv("previous_application.csv")
prev_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
for col in prev_app.select_dtypes(include=['object','bool']).columns:
    print(col)
    print(prev_app[col].unique())
    print()

NAME_CONTRACT_TYPE
['Consumer loans' 'Cash loans' 'Revolving loans' 'XNA']

WEEKDAY_APPR_PROCESS_START
['SATURDAY' 'THURSDAY' 'TUESDAY' 'MONDAY' 'FRIDAY' 'SUNDAY' 'WEDNESDAY']

FLAG_LAST_APPL_PER_CONTRACT
['Y' 'N']

NAME_CASH_LOAN_PURPOSE
['XAP' 'XNA' 'Repairs' 'Everyday expenses' 'Car repairs'
 'Building a house or an annex' 'Other' 'Journey'
 'Purchase of electronic equipment' 'Medicine' 'Payments on other loans'
 'Urgent needs' 'Buying a used car' 'Buying a new car'
 'Buying a holiday home / land' 'Education' 'Buying a home' 'Furniture'
 'Buying a garage' 'Business development' 'Wedding / gift / holiday'
 'Hobby' 'Gasification / water supply' 'Refusal to name the goal'
 'Money for a third person']

NAME_CONTRACT_STATUS
['Approved' 'Refused' 'Canceled' 'Unused offer']

NAME_PAYMENT_TYPE
['Cash through the bank' 'XNA' 'Non-cash from your account'
 'Cashless from the account of the employer']

CODE_REJECT_REASON
['XAP' 'HC' 'LIMIT' 'CLIENT' 'SCOFR' 'SCO' 'XNA' 'VERIF' 'SYSTEM']

NAME_TYPE_SUITE
[nan 'Unaccompanied' 'Spouse, partner' 'Family' 'Children' 'Other_B'
 'Other_A' 'Group of people']

NAME_CLIENT_TYPE
['Repeater' 'New' 'Refreshed' 'XNA']

NAME_GOODS_CATEGORY
['Mobile' 'XNA' 'Consumer Electronics' 'Construction Materials'
 'Auto Accessories' 'Photo / Cinema Equipment' 'Computers' 'Audio/Video'
 'Medicine' 'Clothing and Accessories' 'Furniture' 'Sport and Leisure'
 'Homewares' 'Gardening' 'Jewelry' 'Vehicles' 'Education'
 'Medical Supplies' 'Other' 'Direct Sales' 'Office Appliances' 'Fitness'
 'Tourism' 'Insurance' 'Additional Service' 'Weapon' 'Animals'
 'House Construction']

NAME_PORTFOLIO
['POS' 'Cash' 'XNA' 'Cards' 'Cars']

NAME_PRODUCT_TYPE
['XNA' 'x-sell' 'walk-in']

CHANNEL_TYPE
['Country-wide' 'Contact center' 'Credit and cash offices' 'Stone'
 'Regional / Local' 'AP+ (Cash loan)' 'Channel of corporate sales'
 'Car dealer']

NAME_SELLER_INDUSTRY
['Connectivity' 'XNA' 'Consumer electronics' 'Industry' 'Clothing'
 'Furniture' 'Construction' 'Jewelry' 'Auto technology' 'MLM partners'
 'Tourism']

NAME_YIELD_GROUP
['middle' 'low_action' 'high' 'low_normal' 'XNA']

PRODUCT_COMBINATION
['POS mobile with interest' 'Cash X-Sell: low' 'Cash X-Sell: high'
 'Cash X-Sell: middle' 'Cash Street: high' 'Cash'
 'POS household without interest' 'POS household with interest'
 'POS other with interest' 'Card X-Sell' 'POS mobile without interest'
 'Card Street' 'POS industry with interest' 'Cash Street: low'
 'POS industry without interest' 'Cash Street: middle'
 'POS others without interest' nan]

In [116]:
prev_app.loc[prev_app['SK_ID_CURR']==108129]

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
335841,1536272,108129,Cash loans,21709.125,450000.0,512370.0,NaN,450000.0,WEDNESDAY,9,Y,1,NaN,NaN,NaN,XNA,Approved,-515,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),6,XNA,36.0,low_normal,Cash X-Sell: low,365243.0,-485.0,565.0,-155.0,-147.0,1.0
588441,2068863,108129,Consumer loans,4830.930,47250.0,23688.0,24750.0,47250.0,THURSDAY,11,Y,1,0.556485,NaN,NaN,XAP,Approved,-619,Cash through the bank,XAP,Family,Repeater,Audio/Video,POS,XNA,Stone,110,Consumer electronics,6.0,high,POS household with interest,365243.0,-588.0,-438.0,-588.0,-580.0,0.0
617224,2551979,108129,Consumer loans,6664.275,71352.0,71352.0,0.0,71352.0,WEDNESDAY,9,Y,1,0.000000,NaN,NaN,XAP,Approved,-1208,Cash through the bank,XAP,Unaccompanied,New,Consumer Electronics,POS,XNA,Stone,108,Furniture,12.0,low_normal,POS industry with interest,365243.0,-1176.0,-846.0,-846.0,-840.0,0.0
692217,2517198,108129,Revolving loans,11250.000,0.0,225000.0,NaN,NaN,TUESDAY,13,Y,1,NaN,NaN,NaN,XAP,Approved,-957,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card X-Sell,-713.0,-673.0,365243.0,-461.0,-61.0,0.0
1380202,1760610,108129,Consumer loans,8593.965,33052.5,33052.5,0.0,33052.5,SUNDAY,10,Y,1,0.000000,NaN,NaN,XAP,Approved,-819,Cash through the bank,XAP,Unaccompanied,Repeater,Computers,POS,XNA,Stone,108,Furniture,4.0,low_action,POS industry with interest,365243.0,-783.0,-693.0,-753.0,-748.0,0.0

In [6]:
prev_app['INTEREST_RATE'] = round((prev_app['AMT_ANNUITY'] * prev_app['CNT_PAYMENT'] - prev_app['AMT_CREDIT'])/prev_app['AMT_CREDIT']*100, 1)

In [124]:
prev_app.head(1)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,INTEREST_RATE
0,2030495,271877,Consumer loans,1730.43,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0,21.1

In [7]:
prev_app_avg = prev_app[prev_app['NAME_CONTRACT_STATUS']=='Refused'].groupby('SK_ID_CURR')['AMT_CREDIT'].mean().round(decimals=1)
prev_app_avg = prev_app_avg.to_frame().reset_index()

prev_app_count = prev_app.groupby('SK_ID_CURR')['SK_ID_PREV'].count()
prev_app_count = prev_app_count.to_frame().reset_index()

prev_app_refused = prev_app[prev_app['NAME_CONTRACT_STATUS']=='Refused'].groupby('SK_ID_CURR')['SK_ID_PREV'].count()
prev_app_refused = prev_app_refused.to_frame().reset_index()

refused_interest_rate = prev_app[prev_app['NAME_CONTRACT_STATUS']=='Refused'].groupby('SK_ID_CURR')['INTEREST_RATE'].mean().round(decimals=1)
refused_interest_rate = refused_interest_rate.to_frame().reset_index()

prev_app_avg = pd.merge(right=prev_app_count, left=prev_app_avg, how='inner', on='SK_ID_CURR')
prev_app_avg = pd.merge(right=prev_app_refused, left=prev_app_avg, how='inner', on='SK_ID_CURR')
prev_app_avg = pd.merge(right=refused_interest_rate, left=prev_app_avg, how='inner', on='SK_ID_CURR')
prev_app_avg.columns = ['SK_ID_CURR', 'p_avg_refused_AMT_CREDIT', 'p_prev_app_count', 'p_refused_count', 'p_refused_interest_rate']

In [127]:
prev_app_avg.sample(1)

,SK_ID_CURR,p_avg_refused_AMT_CREDIT,p_prev_app_count,p_refused_count,p_refused_interest_rate
15125,145678,1037974.5,8,1,24.3

### Pos Cash Balance

In [8]:
pos_cash_bal = pd.read_csv("POS_CASH_balance.csv")
pos_cash_bal.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [77]:
for col in pos_cash_bal.select_dtypes(include=['object','bool']).columns:
    print(col)
    print(pos_cash_bal[col].unique())
    print()

NAME_CONTRACT_STATUS
['Active' 'Completed' 'Signed' 'Approved' 'Returned to the store' 'Demand'
 'Canceled' 'XNA' 'Amortized debt']

In [103]:
pos_cash_bal.loc[pos_cash_bal['SK_ID_CURR']==100001]

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1261679,1851984,100001,-96,4.0,2.0,Active,0,0
1891462,1851984,100001,-95,4.0,1.0,Active,7,7
2197888,1369693,100001,-53,4.0,0.0,Completed,0,0
4704415,1369693,100001,-54,4.0,1.0,Active,0,0
4928574,1851984,100001,-93,4.0,0.0,Completed,0,0
7167007,1369693,100001,-57,4.0,4.0,Active,0,0
7823681,1369693,100001,-55,4.0,2.0,Active,0,0
8531326,1851984,100001,-94,4.0,0.0,Active,0,0
8789081,1369693,100001,-56,4.0,3.0,Active,0,0

In [9]:
pos_cash_bal_min = pos_cash_bal[pos_cash_bal['NAME_CONTRACT_STATUS']=='Active'].groupby(['SK_ID_CURR','SK_ID_PREV'])['CNT_INSTALMENT_FUTURE'].min()
pos_cash_bal_min = pos_cash_bal_min.to_frame().reset_index()

pos_cash_bal_sum = pos_cash_bal_min.groupby('SK_ID_CURR')['CNT_INSTALMENT_FUTURE'].sum()
pos_cash_bal_sum = pos_cash_bal_sum.to_frame().reset_index()

pos_cash_bal_count = pos_cash_bal_min[pos_cash_bal_min['CNT_INSTALMENT_FUTURE']!=0.0].groupby('SK_ID_CURR')['SK_ID_PREV'].nunique()
pos_cash_bal_count = pos_cash_bal_count.to_frame().reset_index()

pos_cash_bal_sum = pd.merge(right=pos_cash_bal_count, left=pos_cash_bal_sum, how='inner', on='SK_ID_CURR')
pos_cash_bal_sum.columns = ['SK_ID_CURR', 'pcb_sum_CNT_INSTALMENT_FUTURE', 'pcb_prev_credit_count']

In [98]:
pos_cash_bal_sum.sample(1)

        SK_ID_CURR  pcb_sum_CNT_INSTALMENT_FUTURE  pcb_prev_credit_count
192884      321309                           11.0                      3

In [99]:
pos_cash_bal_min.loc[pos_cash_bal_min['SK_ID_CURR']==321309]

        SK_ID_CURR  SK_ID_PREV  CNT_INSTALMENT_FUTURE
578804      321309     1481961                    0.0
578805      321309     1486608                    9.0
578806      321309     1791010                    1.0
578807      321309     2116176                    1.0

### Merge Data

In [10]:
app_test = pd.read_csv("application_test.csv")
app_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-19241,-2329,-5170.0,-812,NaN,1,1,0,1,0,1,NaN,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.752614,0.789654,0.159520,0.0660,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0505,NaN,NaN,0.0672,0.0612,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0526,NaN,NaN,0.0666,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0514,NaN,NaN,NaN,block of flats,0.0392,"Stone, brick",No,0.0,0.0,0.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-18064,-4469,-9118.0,-1623,NaN,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.564990,0.291656,0.432962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,Higher education,Married,House / apartment,0.019101,-20038,-4458,-2175.0,-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,NaN,0.699787,0.610991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,-13976,-1866,-2000.0,-4208,NaN,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.525734,0.509677,0.612704,0.3052,0.1974,0.9970,0.9592,0.1165,0.32,0.2759,0.375,0.0417,0.2042,0.2404,0.3673,0.0386,0.08,0.3109,0.2049,0.9970,0.9608,0.1176,0.3222,0.2759,0.375,0.0417,0.2089,0.2626,0.3827,0.0389,0.0847,0.3081,0.1974,0.9970,0.9597,0.1173,0.32,0.2759,0.375,0.0417,0.2078,0.2446,0.3739,0.0388,0.0817,reg oper account,block of flats,0.3700,Panel,No,0.0,0.0,0.0,0.0,-1805.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010032,-13040,-2191,-4000.0,-4262,16.0,1,1,1,1,0,0,NaN,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202145,0.425687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-821.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
app_test['is_test'] = 1 
app_test['is_train'] = 0
app_train['is_test'] = 0
app_train['is_train'] = 1

In [12]:
data = app_train.append(app_test)

In [13]:
data = data.merge(right=bureau_avg, how='left', on='SK_ID_CURR')
data = data.merge(right=prev_app_avg, how='left', on='SK_ID_CURR')
data = data.merge(right=pos_cash_bal_sum, how='left', on='SK_ID_CURR')

In [14]:
# fill null values with 0 in specific columns
cols = ['b_avg_AMT_CREDIT_SUM', 'b_bureau_count', 'b_bad_debt_count',
        'p_avg_refused_AMT_CREDIT', 'p_prev_app_count',
        'p_refused_count', 'p_refused_interest_rate',
        'pcb_sum_CNT_INSTALMENT_FUTURE', 'pcb_prev_credit_count']

data[cols] = data[cols].fillna(0)

In [15]:
data[307508:307514]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_test,is_train,b_avg_AMT_CREDIT_SUM,b_bureau_count,b_bad_debt_count,p_avg_refused_AMT_CREDIT,p_prev_app_count,p_refused_count,p_refused_interest_rate,pcb_sum_CNT_INSTALMENT_FUTURE,pcb_prev_credit_count
307508,456253,0.0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,0.005002,-14966,-7921,-6737.0,-5150,NaN,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.744026,0.535722,0.218859,0.1031,0.0862,0.9816,0.7484,0.0123,0.00,0.2069,0.1667,0.2083,NaN,0.0841,0.9279,0.0,0.0,0.1050,0.0894,0.9816,0.7583,0.0124,0.0000,0.2069,0.1667,0.2083,NaN,0.0918,0.9667,0.0,0.0,0.1041,0.0862,0.9816,0.7518,0.0124,0.00,0.2069,0.1667,0.2083,NaN,0.0855,0.9445,0.0,0.0,reg oper account,block of flats,0.7970,Panel,No,6.0,0.0,6.0,0.0,-1909.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307509,456254,1.0,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005313,-11961,-4786,-2562.0,-931,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,NaN,0.514163,0.661024,0.0124,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0061,NaN,NaN,0.0126,NaN,0.9772,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0063,NaN,NaN,0.0125,NaN,0.9771,NaN,NaN,NaN,0.0690,0.0417,NaN,NaN,NaN,0.0062,NaN,NaN,NaN,block of flats,0.0086,"Stone, brick",No,0.0,0.0,0.0,0.0,-322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0
307510,456255,0.0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.046220,-16856,-1262,-5128.0,-410,NaN,1,1,1,1,1,0,Laborers,2.0,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.734460,0.708569,0.113922,0.0742,0.0526,0.9881,NaN,0.0176,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0791,NaN,0.0,0.0756,0.0546,0.9881,NaN,0.0178,0.0806,0.0690,0.3750,NaN,NaN,NaN,0.0824,NaN,0.0,0.0749,0.0526,0.9881,NaN,0.0177,0.08,0.0690,0.3750,NaN,NaN,NaN,0.0805,NaN,0.0,NaN,block of flats,0.0718,Panel,No,0.0,0.0,0.0,0.0,-787.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0,0,1,0.0,0.0,0.0,556470.0,8.0,2.0,-13.6,30.0,4.0
307511,100001,NaN,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-19241,-2329,-5170.0,-812,NaN,1,1,0,1,0,1,NaN,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.752614,0.789654,0.159520,0.0660,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.1250,NaN,NaN,NaN,0.0505,NaN,NaN,0.0672,0.0612,0.9732,NaN,NaN,NaN,0.1379,0.1250,NaN,NaN,NaN,0.0526,NaN,NaN,0.0666,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.1250,NaN,NaN,NaN,0.0514,NaN,NaN,NaN,block of flats,0.0392,"Stone, brick",No,0.0,0.0,0.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
307512,100005,NaN,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-18064,-4469,-9118.0,-1623,NaN,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.564990,0.291656,0.432962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0
307513,100013,NaN,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,Higher education,Married,House / apartment,0.019101,-20038,-4458,-2175.0,-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,NaN,0.699787,0.610991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,3.0

## Feature Extraction

In [15]:
data['ANNUITY_PER_INCOME'] = round(data['AMT_ANNUITY']/data['AMT_INCOME_TOTAL']*100, 1)
data['DAYS_ID_PUBLISH'] = abs(data['DAYS_ID_PUBLISH'])

In [16]:
def count_age(x):
    return int(abs(x['DAYS_BIRTH'])/365)

def count_employement(x):
    return int(abs(x['DAYS_EMPLOYED'])/365)

def count_registration(x):
    return int(abs(x['DAYS_REGISTRATION'])/365)

data['AGE'] = data.apply(lambda x: count_age(x), axis=1)
data['YEARS_EMPLOYED'] = data.apply(lambda x: count_employement(x), axis=1)
data['YEARS_REGISTRATION'] = data.apply(lambda x: count_registration(x), axis=1)

In [94]:
data.head(1)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_test,is_train,b_avg_AMT_CREDIT_SUM,b_bureau_count,b_bad_debt_count,p_avg_refused_AMT_CREDIT,p_prev_app_count,p_refused_count,p_refused_interest_rate,pcb_sum_CNT_INSTALMENT_FUTURE,pcb_prev_credit_count,ANNUITY_PER_INCOME,AGE,YEARS_EMPLOYED,YEARS_REGISTRATION
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.0,0.069,0.0833,0.125,0.0369,0.0202,0.019,0.0,0.0,0.0252,0.0383,0.9722,0.6341,0.0144,0.0,0.069,0.0833,0.125,0.0377,0.022,0.0198,0.0,0.0,0.025,0.0369,0.9722,0.6243,0.0144,0.0,0.069,0.0833,0.125,0.0375,0.0205,0.0193,0.0,0.0,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1.0,12.2,25,1,9

## Feature Selection

#### Drop Features

In [158]:
for col in data.select_dtypes(include=['object','bool']).columns:
    print(col)
    print(f"Unique values: {len(data[col].unique())}")
    print(data[col].value_counts(normalize=True))
    print()

NAME_CONTRACT_TYPE
Unique values: 2
Cash loans         0.916582
Revolving loans    0.083418
Name: NAME_CONTRACT_TYPE, dtype: float64

CODE_GENDER
Unique values: 3
F      0.659994
M      0.339995
XNA    0.000011
Name: CODE_GENDER, dtype: float64

FLAG_OWN_CAR
Unique values: 2
N    0.6603
Y    0.3397
Name: FLAG_OWN_CAR, dtype: float64

FLAG_OWN_REALTY
Unique values: 2
Y    0.693239
N    0.306761
Name: FLAG_OWN_REALTY, dtype: float64

NAME_TYPE_SUITE
Unique values: 8
Unaccompanied      0.814154
Family             0.130009
Spouse, partner    0.036204
Children           0.010380
Other_B            0.005595
Other_A            0.002754
Group of people    0.000904
Name: NAME_TYPE_SUITE, dtype: float64

NAME_INCOME_TYPE
Unique values: 8
Working                 0.514539
Commercial associate    0.233033
Pensioner               0.181429
State servant           0.070834
Unemployed              0.000065
Student                 0.000056
Businessman             0.000031
Maternity leave         0.000014
Name: NAME_INCOME_TYPE, dtype: float64

NAME_EDUCATION_TYPE
Unique values: 5
Secondary / secondary special    0.708422
Higher education                 0.245271
Incomplete higher                0.033687
Lower secondary                  0.012045
Academic degree                  0.000575
Name: NAME_EDUCATION_TYPE, dtype: float64

NAME_FAMILY_STATUS
Unique values: 6
Married                 0.641998
Single / not married    0.147310
Civil marriage          0.095538
Separated               0.063789
Widow                   0.051359
Unknown                 0.000006
Name: NAME_FAMILY_STATUS, dtype: float64

NAME_HOUSING_TYPE
Unique values: 6
House / apartment      0.888445
With parents           0.047926
Municipal apartment    0.035929
Rented apartment       0.015716
Office apartment       0.008488
Co-op apartment        0.003495
Name: NAME_HOUSING_TYPE, dtype: float64

OCCUPATION_TYPE
Unique values: 19
Laborers                 0.261366
Sales staff              0.152191
Core staff               0.130726
Managers                 0.102125
Drivers                  0.087514
High skill tech staff    0.054180
Accountants              0.046840
Medicine staff           0.040338
Security staff           0.031262
Cooking staff            0.028003
Cleaning staff           0.021735
Private service staff    0.012720
Low-skill Laborers       0.009682
Waiters/barmen staff     0.006247
Secretaries              0.006215
Realty agents            0.003640
HR staff                 0.002731
IT staff                 0.002485
Name: OCCUPATION_TYPE, dtype: float64

WEEKDAY_APPR_PROCESS_START
Unique values: 7
TUESDAY      0.178670
WEDNESDAY    0.169516
MONDAY       0.165949
THURSDAY     0.165637
FRIDAY       0.161648
SATURDAY     0.107942
SUNDAY       0.050638
Name: WEEKDAY_APPR_PROCESS_START, dtype: float64

ORGANIZATION_TYPE
Unique values: 58
Business Entity Type 3    0.221280
XNA                       0.181466
Self-employed             0.124439
Other                     0.054427
Medicine                  0.036235
Business Entity Type 2    0.033774
Government                0.033437
School                    0.028575
Trade: type 7             0.025639
Kindergarten              0.022226
Construction              0.021782
Business Entity Type 1    0.019287
Transport: type 4         0.017633
Trade: type 3             0.011424
Industry: type 9          0.010855
Industry: type 3          0.010574
Security                  0.010439
Housing                   0.009524
Military                  0.008881
Industry: type 11         0.008758
Bank                      0.008087
Police                    0.007809
Agriculture               0.007708
Transport: type 2         0.007444
Postal                    0.006880
Security Ministries       0.006498
Trade: type 2             0.006013
Restaurant                0.005881
Services                  0.005269
University                0.004345
Industry: type 7          0.004278
Transport: type 3         0.003820
Industry: type 1          0.003416
Electricity               0.003105
Hotel                     0.003088
Industry: type 4          0.002930
Trade: type 6             0.002114
Industry: type 5          0.001954
Insurance                 0.001900
Telecom                   0.001886
Emergency                 0.001827
Industry: type 2          0.001502
Advertising               0.001403
Realtor                   0.001314
Industry: type 12         0.001252
Culture                   0.001235
Trade: type 1             0.001156
Mobile                    0.001016
Legal Services            0.001005
Cleaning                  0.000851
Transport: type 1         0.000662
Industry: type 6          0.000390
Industry: type 10         0.000373
Religion                  0.000272
Trade: type 4             0.000219
Industry: type 13         0.000205
Trade: type 5             0.000163
Industry: type 8          0.000076
Name: ORGANIZATION_TYPE, dtype: float64

FONDKAPREMONT_MODE
Unique values: 5
reg oper account         0.759559
reg oper spec account    0.124334
not specified            0.058323
org spec account         0.057784
Name: FONDKAPREMONT_MODE, dtype: float64

HOUSETYPE_MODE
Unique values: 4
block of flats      0.982186
specific housing    0.009874
terraced house      0.007940
Name: HOUSETYPE_MODE, dtype: float64

WALLSMATERIAL_MODE
Unique values: 8
Panel           0.439203
Stone, brick    0.427500
Block           0.060680
Wooden          0.034973
Mixed           0.015049
Monolithic      0.011749
Others          0.010845
Name: WALLSMATERIAL_MODE, dtype: float64

EMERGENCYSTATE_MODE
Unique values: 3
No     0.985745
Yes    0.014255
Name: EMERGENCYSTATE_MODE, dtype: float64

In [17]:
data.drop(['DAYS_BIRTH','DAYS_EMPLOYED', 'DAYS_REGISTRATION',
           'NAME_TYPE_SUITE', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
           'ORGANIZATION_TYPE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE',
           'NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS', 'FONDKAPREMONT_MODE',
           'EMERGENCYSTATE_MODE'], axis=1, inplace=True)

In [18]:
data.loc[~data['NAME_INCOME_TYPE'].str.contains('Working|Commercial associate|Pensioner'), 'NAME_INCOME_TYPE'] = 'Others'

In [103]:
for col in data.select_dtypes(include=['object','bool','category']).columns:
    print(col)
    print(f"Unique values: {len(data[col].unique())}")
    print(data[col].value_counts(normalize=True))
    print()

NAME_CONTRACT_TYPE
Unique values: 2
Cash loans         0.916582
Revolving loans    0.083418
Name: NAME_CONTRACT_TYPE, dtype: float64

CODE_GENDER
Unique values: 3
F      0.659994
M      0.339995
XNA    0.000011
Name: CODE_GENDER, dtype: float64

FLAG_OWN_CAR
Unique values: 2
N    0.6603
Y    0.3397
Name: FLAG_OWN_CAR, dtype: float64

FLAG_OWN_REALTY
Unique values: 2
Y    0.693239
N    0.306761
Name: FLAG_OWN_REALTY, dtype: float64

NAME_INCOME_TYPE
Unique values: 4
Working                 0.514539
Commercial associate    0.233033
Pensioner               0.181429
Others                  0.071000
Name: NAME_INCOME_TYPE, dtype: float64

WEEKDAY_APPR_PROCESS_START
Unique values: 7
TUESDAY      0.178670
WEDNESDAY    0.169516
MONDAY       0.165949
THURSDAY     0.165637
FRIDAY       0.161648
SATURDAY     0.107942
SUNDAY       0.050638
Name: WEEKDAY_APPR_PROCESS_START, dtype: float64

In [97]:
data.sample(1)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,REGION_POPULATION_RELATIVE,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_test,is_train,b_avg_AMT_CREDIT_SUM,b_bureau_count,b_bad_debt_count,p_avg_refused_AMT_CREDIT,p_prev_app_count,p_refused_count,p_refused_interest_rate,pcb_sum_CNT_INSTALMENT_FUTURE,pcb_prev_credit_count,ANNUITY_PER_INCOME,AGE,YEARS_EMPLOYED,YEARS_REGISTRATION
96140,211617,0.0,Cash loans,F,N,N,1,76500.0,256167.0,20367.0,211500.0,Commercial associate,0.00712,-4095,NaN,1,1,0,1,0,0,3.0,2,2,MONDAY,7,0,0,0,0,0,0,0.306779,0.652938,0.495666,0.0351,NaN,0.9697,NaN,NaN,NaN,0.0345,0.0417,NaN,0.0187,NaN,0.0128,NaN,0.0,0.0357,NaN,0.9697,NaN,NaN,NaN,0.0345,0.0417,NaN,0.0191,NaN,0.0133,NaN,0.0,0.0354,NaN,0.9697,NaN,NaN,NaN,0.0345,0.0417,NaN,0.019,NaN,0.013,NaN,0.0,0.0101,0.0,0.0,0.0,0.0,-388.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0,1,0.0,0.0,0.0,0.0,16.0,1.0,0.0,39.0,9.0,26.6,33,12,3

#### Splitting Data Testing & Training

In [19]:
training = data.loc[data['is_train']==1]
testing = data.loc[data['is_train']==0]

#### Check the independence of row

In [20]:
training.duplicated(subset='SK_ID_CURR').sum()

0

In [21]:
testing.duplicated(subset='SK_ID_CURR').sum()

0

#### Missing Values Checking

In [22]:
missing_values = pd.DataFrame(training.isnull().sum()/training.shape[0])
missing_values = missing_values[missing_values.iloc[:, 0] > 0.50]
missing_values.sort_values([0], ascending=False)

                                 0
COMMONAREA_AVG            0.698723
COMMONAREA_MODE           0.698723
COMMONAREA_MEDI           0.698723
NONLIVINGAPARTMENTS_AVG   0.694330
NONLIVINGAPARTMENTS_MEDI  0.694330
NONLIVINGAPARTMENTS_MODE  0.694330
LIVINGAPARTMENTS_MODE     0.683550
LIVINGAPARTMENTS_MEDI     0.683550
LIVINGAPARTMENTS_AVG      0.683550
FLOORSMIN_MODE            0.678486
FLOORSMIN_AVG             0.678486
FLOORSMIN_MEDI            0.678486
YEARS_BUILD_MODE          0.664978
YEARS_BUILD_AVG           0.664978
YEARS_BUILD_MEDI          0.664978
OWN_CAR_AGE               0.659908
LANDAREA_AVG              0.593767
LANDAREA_MEDI             0.593767
LANDAREA_MODE             0.593767
BASEMENTAREA_MODE         0.585160
BASEMENTAREA_MEDI         0.585160
BASEMENTAREA_AVG          0.585160
EXT_SOURCE_1              0.563811
NONLIVINGAREA_MODE        0.551792
NONLIVINGAREA_MEDI        0.551792
NONLIVINGAREA_AVG         0.551792
ELEVATORS_MODE            0.532960
ELEVATORS_MEDI            0.532960
ELEVATORS_AVG             0.532960
APARTMENTS_MEDI           0.507497
APARTMENTS_MODE           0.507497
APARTMENTS_AVG            0.507497
ENTRANCES_MEDI            0.503488
ENTRANCES_AVG             0.503488
ENTRANCES_MODE            0.503488
LIVINGAREA_MODE           0.501933
LIVINGAREA_AVG            0.501933
LIVINGAREA_MEDI           0.501933

In [23]:
delete_features = list(missing_values.index)
delete_features.remove('EXT_SOURCE_1')

In [24]:
training.drop(delete_features, axis=1, inplace=True)

In [25]:
training.shape

(307511, 87)

#### Splitting Data Validation & Training

In [26]:
y = training['TARGET']
X = training.drop(['SK_ID_CURR', 'TARGET','is_test', 'is_train'], axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, 
                                                  test_size = 0.2, 
                                                  random_state = 42, 
                                                  stratify = y)

In [27]:
X_train.shape, y_train.shape

((246008, 83), (246008,))

In [28]:
cat_cols = X_train.select_dtypes(include=['object','category']).columns
num_cols = X_train.select_dtypes(include=['number']).columns

#### Categorical Features Significancy Test

In [29]:
chi2_check = {}

for column in cat_cols:
    chi, p, dof, ex = chi2_contingency(pd.crosstab(y_train, X_train[column]))
    chi2_check.setdefault('Feature',[]).append(column)
    chi2_check.setdefault('p-value',[]).append(round(p, 10))

chi2_result = pd.DataFrame(data = chi2_check)
chi2_result['significance'] = chi2_result.apply(lambda x: 'Not Significant' if x['p-value']>=0.05 else 'Significant', axis=1)
chi2_result.merge(X_train[cat_cols].describe().T.reset_index(), 
                  left_on ='Feature', 
                  right_on = 'index').sort_values(by=['p-value', 'unique'])

,Feature,p-value,significance,index,count,unique,top,freq
0,NAME_CONTRACT_TYPE,0.000000,Significant,NAME_CONTRACT_TYPE,246008,2,Cash loans,222560
2,FLAG_OWN_CAR,0.000000,Significant,FLAG_OWN_CAR,246008,2,N,162413
1,CODE_GENDER,0.000000,Significant,CODE_GENDER,246008,3,F,161887
4,NAME_INCOME_TYPE,0.000000,Significant,NAME_INCOME_TYPE,246008,4,Working,127043
3,FLAG_OWN_REALTY,0.004019,Significant,FLAG_OWN_REALTY,246008,2,Y,170690
5,WEEKDAY_APPR_PROCESS_START,0.041040,Significant,WEEKDAY_APPR_PROCESS_START,246008,7,TUESDAY,43167

#### Numerical Features Significancy Test

In [30]:
F_statistic, p_value = f_classif(X_train[num_cols].fillna(X_train[num_cols].median()), 
                                 y_train)

dict_ = {'Feature': X_train.columns, 
        'F-score' : F_statistic,
        'p-value' : p_value.round(decimals=6)}

anova_table = pd.DataFrame.from_dict(dict_, orient='index').T
anova_table['F-score'] = pd.to_numeric(anova_table['F-score'])
anova_table['p-value'] = pd.to_numeric(anova_table['p-value'])

anova_table['significance'] = anova_table.apply(lambda x: 'Not Significant' if x['p-value'] >= 0.05 else 'Significant', axis=1)
anova_table = anova_table.merge(X_train[X_train.columns].describe().T.reset_index(), 
                                left_on='Feature', 
                                right_on='index').sort_values(['F-score','count'], 
                                                              ascending=False)
anova_table

,Feature,F-score,p-value,significance,index,count,mean,std,min,25%,50%,75%,max
18,REG_REGION_NOT_WORK_REGION,6415.426007,0.000000,Significant,REG_REGION_NOT_WORK_REGION,246008.0,0.051153,0.220310,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
19,LIVE_REGION_NOT_WORK_REGION,6130.012291,0.000000,Significant,LIVE_REGION_NOT_WORK_REGION,246008.0,0.041173,0.198692,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
17,REG_REGION_NOT_LIVE_REGION,2431.612392,0.000000,Significant,REG_REGION_NOT_LIVE_REGION,246008.0,0.015020,0.121632,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
68,p_prev_app_count,1562.471554,0.000000,Significant,p_prev_app_count,246008.0,2.600013,4.687435,0.000000e+00,0.000000,0.000000,4.000000,6.800000e+01
63,AMT_REQ_CREDIT_BUREAU_YEAR,1038.068038,0.000000,Significant,AMT_REQ_CREDIT_BUREAU_YEAR,212764.0,1.897469,1.868143,0.000000e+00,0.000000,1.000000,3.000000,2.500000e+01
10,FLAG_CONT_MOBILE,927.371716,0.000000,Significant,FLAG_CONT_MOBILE,246008.0,0.998122,0.043295,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
9,FLAG_WORK_PHONE,857.771827,0.000000,Significant,FLAG_WORK_PHONE,246008.0,0.199680,0.399761,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
31,FLOORSMAX_MEDI,713.968146,0.000000,Significant,FLOORSMAX_MEDI,123711.0,0.225814,0.144941,0.000000e+00,0.166700,0.166700,0.333300,1.000000e+00
2,AMT_CREDIT,606.264339,0.000000,Significant,AMT_CREDIT,246008.0,599338.249368,402725.773305,4.500000e+04,270000.000000,514777.500000,808650.000000,4.050000e+06
69,p_refused_count,555.827829,0.000000,Significant,p_refused_count,246008.0,0.799702,1.778212,0.000000e+00,0.000000,0.000000,1.000000,5.800000e+01
4,AMT_GOODS_PRICE,530.951154,0.000000,Significant,AMT_GOODS_PRICE,245787.0,538652.980410,369595.049962,4.050000e+04,238500.000000,450000.000000,679500.000000,4.050000e+06
62,AMT_REQ_CREDIT_BUREAU_QRT,525.523121,0.000000,Significant,AMT_REQ_CREDIT_BUREAU_QRT,212764.0,0.264166,0.612447,0.000000e+00,0.000000,0.000000,0.000000,1.900000e+01
15,REGION_RATING_CLIENT_W_CITY,513.808408,0.000000,Significant,REGION_RATING_CLIENT_W_CITY,246008.0,2.031462,0.502598,1.000000e+00,2.000000,2.000000,2.000000,3.000000e+00
33,OBS_30_CNT_SOCIAL_CIRCLE,483.701165,0.000000,Significant,OBS_30_CNT_SOCIAL_CIRCLE,245197.0,1.422110,2.419474,0.000000e+00,0.000000,0.000000,2.000000,3.480000e+02
70,p_refused_interest_rate,436.929697,0.000000,Significant,p_refused_interest_rate,246008.0,4.768028,33.314072,-1.000000e+02,0.000000,0.000000,0.000000,2.028000e+02
0,CNT_CHILDREN,391.744495,0.000000,Significant,CNT_CHILDREN,246008.0,0.416409,0.719500,0.000000e+00,0.000000,0.000000,1.000000,1.900000e+01
21,REG_CITY_NOT_WORK_CITY,376.855231,0.000000,Significant,REG_CITY_NOT_WORK_CITY,246008.0,0.231045,0.421502,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
25,EXT_SOURCE_3,372.326842,0.000000,Significant,EXT_SOURCE_3,197203.0,0.510871,0.194771,5.272652e-04,0.370650,0.535276,0.669057,8.960095e-01
23,EXT_SOURCE_1,354.615242,0.000000,Significant,EXT_SOURCE_1,107413.0,0.501650,0.211413,1.456813e-02,0.333105,0.505446,0.674781,9.516240e-01
1,AMT_INCOME_TOTAL,340.275838,0.000000,Significant,AMT_INCOME_TOTAL,246008.0,168853.180699,258960.632250,2.565000e+04,112500.000000,147600.000000,202500.000000,1.170000e+08
16,HOUR_APPR_PROCESS_START,273.735332,0.000000,Significant,HOUR_APPR_PROCESS_START,246008.0,12.061514,3.264146,0.000000e+00,10.000000,12.000000,14.000000,2.300000e+01
28,YEARS_BEGINEXPLUATATION_MODE,255.104181,0.000000,Significant,YEARS_BEGINEXPLUATATION_MODE,126059.0,0.976972,0.065338,0.000000e+00,0.976700,0.981600,0.986600,1.000000e+00
30,YEARS_BEGINEXPLUATATION_MEDI,255.005983,0.000000,Significant,YEARS_BEGINEXPLUATATION_MEDI,126059.0,0.977646,0.060827,0.000000e+00,0.976700,0.981600,0.986600,1.000000e+00
26,YEARS_BEGINEXPLUATATION_AVG,216.046688,0.000000,Significant,YEARS_BEGINEXPLUATATION_AVG,126059.0,0.977635,0.060137,0.000000e+00,0.976700,0.981600,0.986600,1.000000e+00
64,b_avg_AMT_CREDIT_SUM,203.846789,0.000000,Significant,b_avg_AMT_CREDIT_SUM,246008.0,17.800885,3096.342540,0.000000e+00,0.000000,0.000000,0.000000,8.673631e+05
66,b_bad_debt_count,198.166110,0.000000,Significant,b_bad_debt_count,246008.0,0.000065,0.008064,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
36,DEF_60_CNT_SOCIAL_CIRCLE,191.008963,0.000000,Significant,DEF_60_CNT_SOCIAL_CIRCLE,245197.0,0.099577,0.361737,0.000000e+00,0.000000,0.000000,0.000000,2.400000e+01
11,FLAG_PHONE,164.549040,0.000000,Significant,FLAG_PHONE,246008.0,0.280942,0.449460,0.000000e+00,0.000000,0.000000,1.000000,1.000000e+00
6,DAYS_ID_PUBLISH,139.667439,0.000000,Significant,DAYS_ID_PUBLISH,246008.0,2994.150438,1508.274570,0.000000e+00,1720.000000,3255.000000,4298.000000,7.197000e+03
61,AMT_REQ_CREDIT_BUREAU_MON,133.742219,0.000000,Significant,AMT_REQ_CREDIT_BUREAU_MON,212764.0,0.267103,0.917724,0.000000e+00,0.000000,0.000000,0.000000,2.700000e+01
65,b_bureau_count,91.881046,0.000000,Significant,b_bureau_count,246008.0,0.000602,0.087927,0.000000e+00,0.000000,0.000000,0.000000,2.500000e+01
67,p_avg_refused_AMT_CREDIT,58.808947,0.000000,Significant,p_avg_refused_AMT_CREDIT,246008.0,108089.832110,278246.159253,0.000000e+00,0.000000,0.000000,66001.500000,4.085550e+06
55,FLAG_DOCUMENT_19,49.372485,0.000000,Significant,FLAG_DOCUMENT_19,246008.0,0.000610,0.024685,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
43,FLAG_DOCUMENT_7,31.704048,0.000000,Significant,FLAG_DOCUMENT_7,246008.0,0.000187,0.013673,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
57,FLAG_DOCUMENT_21,31.502663,0.000000,Significant,FLAG_DOCUMENT_21,246008.0,0.000321,0.017917,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
46,FLAG_DOCUMENT_10,31.061639,0.000000,Significant,FLAG_DOCUMENT_10,246008.0,0.000016,0.004032,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
27,FLOORSMAX_AVG,30.049544,0.000000,Significant,FLOORSMAX_AVG,123711.0,0.226187,0.144506,0.000000e+00,0.166700,0.166700,0.333300,1.000000e+00
29,FLOORSMAX_MODE,29.202326,0.000000,Significant,FLOORSMAX_MODE,123711.0,0.222211,0.143586,0.000000e+00,0.166700,0.166700,0.333300,1.000000e+00
8,FLAG_EMP_PHONE,23.651911,0.000001,Significant,FLAG_EMP_PHONE,246008.0,0.820518,0.383756,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
44,FLAG_DOCUMENT_8,18.600852,0.000016,Significant,FLAG_DOCUMENT_8,246008.0,0.081392,0.273436,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
38,FLAG_DOCUMENT_2,18.160042,0.000020,Significant,FLAG_DOCUMENT_2,246008.0,0.000045,0.006687,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
56,FLAG_DOCUMENT_20,16.591639,0.000046,Significant,FLAG_DOCUMENT_20,246008.0,0.000504,0.022445,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
48,FLAG_DOCUMENT_12,12.912020,0.000327,Significant,FLAG_DOCUMENT_12,246008.0,0.000004,0.002016,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
45,FLAG_DOCUMENT_9,11.438918,0.000719,Significant,FLAG_DOCUMENT_9,246008.0,0.003849,0.061925,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
13,CNT_FAM_MEMBERS,11.084617,0.000871,Significant,CNT_FAM_MEMBERS,246006.0,2.152025,0.908271,1.000000e+00,2.000000,2.000000,3.000000,2.000000e+01
59,AMT_REQ_CREDIT_BUREAU_DAY,7.278778,0.006978,Significant,AMT_REQ_CREDIT_BUREAU_DAY,212764.0,0.006895,0.110734,0.000000e+00,0.000000,0.000000,0.000000,9.000000e+00
24,EXT_SOURCE_2,7.238697,0.007135,Significant,EXT_SOURCE_2,245477.0,0.514303,0.191126,8.173617e-08,0.392155,0.565913,0.663593,8.549997e-01
20,REG_CITY_NOT_LIVE_CITY,6.986189,0.008215,Significant,REG_CITY_NOT_LIVE_CITY,246008.0,0.077896,0.268008,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
60,AMT_REQ_CREDIT_BUREAU_WEEK,6.177984,0.012936,Significant,AMT_REQ_CREDIT_BUREAU_WEEK,212764.0,0.034245,0.205219,0.000000e+00,0.000000,0.000000,0.000000,8.000000e+00
12,FLAG_EMAIL,5.546874,0.018514,Significant,FLAG_EMAIL,246008.0,0.056734,0.231334,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
32,TOTALAREA_MODE,5.464356,0.019409,Significant,TOTALAREA_MODE,127301.0,0.102542,0.107112,0.000000e+00,0.041300,0.068800,0.128000,1.000000e+00
39,FLAG_DOCUMENT_3,5.404013,0.020091,Significant,FLAG_DOCUMENT_3,246008.0,0.710448,0.453555,0.000000e+00,0.000000,1.000000,1.000000,1.000000e+00
51,FLAG_DOCUMENT_15,5.393724,0.020210,Significant,FLAG_DOCUMENT_15,246008.0,0.001199,0.034608,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
22,LIVE_CITY_NOT_WORK_CITY,5.223765,0.022281,Significant,LIVE_CITY_NOT_WORK_CITY,246008.0,0.180360,0.384488,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
41,FLAG_DOCUMENT_5,4.001949,0.045449,Significant,FLAG_DOCUMENT_5,246008.0,0.015113,0.122004,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
58,AMT_REQ_CREDIT_BUREAU_HOUR,3.542185,0.059828,Not Significant,AMT_REQ_CREDIT_BUREAU_HOUR,212764.0,0.006289,0.082939,0.000000e+00,0.000000,0.000000,0.000000,4.000000e+00
47,FLAG_DOCUMENT_11,3.403061,0.065077,Not Significant,FLAG_DOCUMENT_11,246008.0,0.003866,0.062055,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
34,DEF_30_CNT_SOCIAL_CIRCLE,1.932181,0.164521,Not Significant,DEF_30_CNT_SOCIAL_CIRCLE,245197.0,0.143481,0.447988,0.000000e+00,0.000000,0.000000,0.000000,3.400000e+01
14,REGION_RATING_CLIENT,1.728418,0.188614,Not Significant,REGION_RATING_CLIENT,246008.0,2.052303,0.508873,1.000000e+00,2.000000,2.000000,2.000000,3.000000e+00
53,FLAG_DOCUMENT_17,1.251539,0.263260,Not Significant,FLAG_DOCUMENT_17,246008.0,0.000248,0.015745,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
5,REGION_POPULATION_RELATIVE,0.646366,0.421416,Not Significant,REGION_POPULATION_RELATIVE,246008.0,0.020858,0.013835,2.900000e-04,0.010006,0.018850,0.028663,7.250800e-02
50,FLAG_DOCUMENT_14,0.430378,0.511804,Not Significant,FLAG_DOCUMENT_14,246008.0,0.002951,0.054244,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
49,FLAG_DOCUMENT_13,0.399944,0.527119,Not Significant,FLAG_DOCUMENT_13,246008.0,0.003382,0.058057,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
40,FLAG_DOCUMENT_4,0.351278,0.553391,Not Significant,FLAG_DOCUMENT_4,246008.0,0.000089,0.009456,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
37,DAYS_LAST_PHONE_CHANGE,0.149170,0.699330,Not Significant,DAYS_LAST_PHONE_CHANGE,246007.0,-962.665587,826.782574,-4.292000e+03,-1569.000000,-757.000000,-273.000000,0.000000e+00
3,AMT_ANNUITY,0.087821,0.766965,Not Significant,AMT_ANNUITY,245998.0,27108.089708,14520.904087,1.615500e+03,16510.500000,24903.000000,34596.000000,2.580255e+05
42,FLAG_DOCUMENT_6,0.087818,0.766970,Not Significant,FLAG_DOCUMENT_6,246008.0,0.087717,0.282883,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
7,FLAG_MOBIL,0.078109,0.779877,Not Significant,FLAG_MOBIL,246008.0,0.999996,0.002016,0.000000e+00,1.000000,1.000000,1.000000,1.000000e+00
54,FLAG_DOCUMENT_18,0.077494,0.780722,Not Significant,FLAG_DOCUMENT_18,246008.0,0.008138,0.089843,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
35,OBS_60_CNT_SOCIAL_CIRCLE,0.036530,0.848425,Not Significant,OBS_60_CNT_SOCIAL_CIRCLE,245197.0,1.405184,2.398144,0.000000e+00,0.000000,0.000000,2.000000,3.440000e+02
52,FLAG_DOCUMENT_16,0.008916,0.924770,Not Significant,FLAG_DOCUMENT_16,246008.0,0.010020,0.099597,0.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
71,pcb_sum_CNT_INSTALMENT_FUTURE,NaN,NaN,Significant,pcb_sum_CNT_INSTALMENT_FUTURE,246008.0,12.816538,19.845608,0.000000e+00,1.000000,5.000000,16.000000,3.800000e+02
72,pcb_prev_credit_count,NaN,NaN,Significant,pcb_prev_credit_count,246008.0,2.012089,1.677840,0.000000e+00,1.000000,2.000000,3.000000,1.900000e+01
74,AGE,NaN,NaN,Significant,AGE,246008.0,43.415218,11.951622,2.000000e+01,33.000000,43.000000,53.000000,6.900000e+01
75,YEARS_EMPLOYED,NaN,NaN,Significant,YEARS_EMPLOYED,246008.0,184.393109,381.445648,0.000000e+00,2.000000,6.000000,15.000000,1.000000e+03
76,YEARS_REGISTRATION,NaN,NaN,Significant,YEARS_REGISTRATION,246008.0,13.178547,9.651477,0.000000e+00,5.000000,12.000000,20.000000,6.700000e+01
73,ANNUITY_PER_INCOME,NaN,NaN,Significant,ANNUITY_PER_INCOME,245998.0,18.091044,9.457139,0.000000e+00,11.500000,16.300000,22.900000,1.571000e+02

In [31]:
not_significant_features = anova_table[anova_table['significance']=='Not Significant']['Feature'].tolist()
X_train.drop(not_significant_features, axis=1, inplace=True)
X_val.drop(not_significant_features, axis=1, inplace=True)

In [144]:
X_train.sample(2)

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_GOODS_PRICE,NAME_INCOME_TYPE,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,YEARS_BEGINEXPLUATATION_AVG,FLOORSMAX_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_MEDI,FLOORSMAX_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_5,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_12,FLAG_DOCUMENT_15,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,b_avg_AMT_CREDIT_SUM,b_bureau_count,b_bad_debt_count,p_avg_refused_AMT_CREDIT,p_prev_app_count,p_refused_count,p_refused_interest_rate,pcb_sum_CNT_INSTALMENT_FUTURE,pcb_prev_credit_count,ANNUITY_PER_INCOME,AGE,YEARS_EMPLOYED,YEARS_REGISTRATION
295421,Cash loans,F,N,Y,1,135000.0,229500.0,229500.0,Working,297,1,0,1,0,0,2.0,2,THURSDAY,10,0,0,0,0,0,0,NaN,0.757617,0.680139,0.9816,0.3750,0.9816,0.3750,0.9816,0.3750,0.1576,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,5.0,16.7,45,25,29
177436,Cash loans,M,Y,N,0,63000.0,675000.0,675000.0,Working,2406,1,1,1,1,0,2.0,1,WEDNESDAY,15,0,0,0,0,0,0,0.839092,0.594601,NaN,0.9861,0.1667,0.9861,0.1667,0.9861,0.1667,0.0725,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,51.7,51,4,14

In [118]:
X_train.shape, y_train.shape, X_val.shape

((246008, 67), (246008,), (61503, 67))

## Data Cleaning

#### Duplicated Data

In [119]:
X_train.duplicated().sum()

0

#### Impute Missing Values

In [32]:
selected_cols = anova_table[anova_table['significance']=='Significant']['Feature'].tolist()

In [33]:
X_train[selected_cols].isna().sum()

REG_REGION_NOT_WORK_REGION            0
LIVE_REGION_NOT_WORK_REGION           0
REG_REGION_NOT_LIVE_REGION            0
p_prev_app_count                      0
AMT_REQ_CREDIT_BUREAU_YEAR        33244
FLAG_CONT_MOBILE                      0
FLAG_WORK_PHONE                       0
FLOORSMAX_MEDI                   122297
AMT_CREDIT                            0
p_refused_count                       0
AMT_GOODS_PRICE                     221
AMT_REQ_CREDIT_BUREAU_QRT         33244
REGION_RATING_CLIENT_W_CITY           0
OBS_30_CNT_SOCIAL_CIRCLE            811
p_refused_interest_rate               0
CNT_CHILDREN                          0
REG_CITY_NOT_WORK_CITY                0
EXT_SOURCE_3                      48805
EXT_SOURCE_1                     138595
AMT_INCOME_TOTAL                      0
HOUR_APPR_PROCESS_START               0
YEARS_BEGINEXPLUATATION_MODE     119949
YEARS_BEGINEXPLUATATION_MEDI     119949
YEARS_BEGINEXPLUATATION_AVG      119949
b_avg_AMT_CREDIT_SUM                  0
b_bad_debt_count                      0
DEF_60_CNT_SOCIAL_CIRCLE            811
FLAG_PHONE                            0
DAYS_ID_PUBLISH                       0
AMT_REQ_CREDIT_BUREAU_MON         33244
b_bureau_count                        0
p_avg_refused_AMT_CREDIT              0
FLAG_DOCUMENT_19                      0
FLAG_DOCUMENT_7                       0
FLAG_DOCUMENT_21                      0
FLAG_DOCUMENT_10                      0
FLOORSMAX_AVG                    122297
FLOORSMAX_MODE                   122297
FLAG_EMP_PHONE                        0
FLAG_DOCUMENT_8                       0
FLAG_DOCUMENT_2                       0
FLAG_DOCUMENT_20                      0
FLAG_DOCUMENT_12                      0
FLAG_DOCUMENT_9                       0
CNT_FAM_MEMBERS                       2
AMT_REQ_CREDIT_BUREAU_DAY         33244
EXT_SOURCE_2                        531
REG_CITY_NOT_LIVE_CITY                0
AMT_REQ_CREDIT_BUREAU_WEEK        33244
FLAG_EMAIL                            0
TOTALAREA_MODE                   118707
FLAG_DOCUMENT_3                       0
FLAG_DOCUMENT_15                      0
LIVE_CITY_NOT_WORK_CITY               0
FLAG_DOCUMENT_5                       0
pcb_sum_CNT_INSTALMENT_FUTURE         0
pcb_prev_credit_count                 0
AGE                                   0
YEARS_EMPLOYED                        0
YEARS_REGISTRATION                    0
ANNUITY_PER_INCOME                   10
dtype: int64

In [34]:
X_val[selected_cols].isna().sum()

REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_REGION_NOT_LIVE_REGION           0
p_prev_app_count                     0
AMT_REQ_CREDIT_BUREAU_YEAR        8275
FLAG_CONT_MOBILE                     0
FLAG_WORK_PHONE                      0
FLOORSMAX_MEDI                   30723
AMT_CREDIT                           0
p_refused_count                      0
AMT_GOODS_PRICE                     57
AMT_REQ_CREDIT_BUREAU_QRT         8275
REGION_RATING_CLIENT_W_CITY          0
OBS_30_CNT_SOCIAL_CIRCLE           210
p_refused_interest_rate              0
CNT_CHILDREN                         0
REG_CITY_NOT_WORK_CITY               0
EXT_SOURCE_3                     12160
EXT_SOURCE_1                     34783
AMT_INCOME_TOTAL                     0
HOUR_APPR_PROCESS_START              0
YEARS_BEGINEXPLUATATION_MODE     30058
YEARS_BEGINEXPLUATATION_MEDI     30058
YEARS_BEGINEXPLUATATION_AVG      30058
b_avg_AMT_CREDIT_SUM                 0
b_bad_debt_count                     0
DEF_60_CNT_SOCIAL_CIRCLE           210
FLAG_PHONE                           0
DAYS_ID_PUBLISH                      0
AMT_REQ_CREDIT_BUREAU_MON         8275
b_bureau_count                       0
p_avg_refused_AMT_CREDIT             0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_7                      0
FLAG_DOCUMENT_21                     0
FLAG_DOCUMENT_10                     0
FLOORSMAX_AVG                    30723
FLOORSMAX_MODE                   30723
FLAG_EMP_PHONE                       0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_2                      0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_9                      0
CNT_FAM_MEMBERS                      0
AMT_REQ_CREDIT_BUREAU_DAY         8275
EXT_SOURCE_2                       129
REG_CITY_NOT_LIVE_CITY               0
AMT_REQ_CREDIT_BUREAU_WEEK        8275
FLAG_EMAIL                           0
TOTALAREA_MODE                   29724
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_15                     0
LIVE_CITY_NOT_WORK_CITY              0
FLAG_DOCUMENT_5                      0
pcb_sum_CNT_INSTALMENT_FUTURE        0
pcb_prev_credit_count                0
AGE                                  0
YEARS_EMPLOYED                       0
YEARS_REGISTRATION                   0
ANNUITY_PER_INCOME                   2
dtype: int64

In [35]:
num_imputer = SimpleImputer(strategy = 'median')

X_train[selected_cols] = num_imputer.fit_transform(X_train[selected_cols])
X_val[selected_cols] = num_imputer.transform(X_val[selected_cols])

#### Feature Scaling

In [38]:
num_cols = X_train.select_dtypes(include=['number']).columns

In [39]:
scaler = StandardScaler()
X_train[num_cols] = scaler.fit_transform(X_train[num_cols])
X_val[num_cols] = scaler.transform(X_val[num_cols])

In [116]:
import joblib
joblib.dump(scaler, 'standardscaler')

['standardscaler']

#### Encoding

In [42]:
# label encoding
label_encoder = preprocessing.LabelEncoder()

features = ['NAME_CONTRACT_TYPE','CODE_GENDER', 'FLAG_OWN_CAR',
            'FLAG_OWN_REALTY']
for var in features:
    X_train[var]= label_encoder.fit_transform(X_train[var])
    X_val[var]= label_encoder.transform(X_val[var])

In [43]:
num_cols = X_train.select_dtypes(include=['number']).columns
cat_cols = X_train.select_dtypes(include=['object','category']).columns
cat_cols

Index(['NAME_INCOME_TYPE', 'WEEKDAY_APPR_PROCESS_START'], dtype='object')

In [44]:
# one hot encoding
X_train_e = pd.concat([X_train[num_cols], pd.get_dummies(X_train[cat_cols], prefix_sep = ':')], axis = 1)
X_val_e = pd.concat([X_val[num_cols], pd.get_dummies(X_val[cat_cols], prefix_sep = ':')], axis = 1)

In [165]:
X_train_e.head(2)

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_GOODS_PRICE,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,YEARS_BEGINEXPLUATATION_AVG,FLOORSMAX_AVG,YEARS_BEGINEXPLUATATION_MODE,FLOORSMAX_MODE,YEARS_BEGINEXPLUATATION_MEDI,FLOORSMAX_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_5,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_12,FLAG_DOCUMENT_15,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,b_avg_AMT_CREDIT_SUM,b_bureau_count,b_bad_debt_count,p_avg_refused_AMT_CREDIT,p_prev_app_count,p_refused_count,p_refused_interest_rate,pcb_sum_CNT_INSTALMENT_FUTURE,pcb_prev_credit_count,ANNUITY_PER_INCOME,AGE,YEARS_EMPLOYED,YEARS_REGISTRATION,NAME_INCOME_TYPE:Commercial associate,NAME_INCOME_TYPE:Others,NAME_INCOME_TYPE:Pensioner,NAME_INCOME_TYPE:Working,WEEKDAY_APPR_PROCESS_START:FRIDAY,WEEKDAY_APPR_PROCESS_START:MONDAY,WEEKDAY_APPR_PROCESS_START:SATURDAY,WEEKDAY_APPR_PROCESS_START:SUNDAY,WEEKDAY_APPR_PROCESS_START:THURSDAY,WEEKDAY_APPR_PROCESS_START:TUESDAY,WEEKDAY_APPR_PROCESS_START:WEDNESDAY
181648,0,0,0,0,2.200964,-0.304499,-0.923256,-0.970592,1.111106,0.467699,-0.499501,0.043377,-0.625067,-0.245247,2.034621,-0.062600,-0.631564,-0.123486,-0.232186,-0.207223,-0.290648,-0.548149,-0.469093,-0.853253,-1.177591,0.613836,0.128367,1.280985,0.125388,1.314091,0.126782,1.279812,1.691808,-0.586474,-0.274787,-0.006687,0.638406,-0.123876,-0.013676,-0.297663,-0.062164,-0.004032,-0.002016,-0.034649,-0.0247,-0.022457,-0.017923,-0.057891,-0.154893,-0.269136,1.337889,-0.439962,-0.005749,-0.006842,-0.008065,-0.388469,-0.554678,-0.449723,-0.143124,-0.444257,1.184806,-0.358570,-0.871450,-0.478164,0.395946,1,0,0,0,0,0,0,0,0,0,1
229245,0,1,1,1,-0.578749,-0.304499,-1.086618,-1.092399,-0.663110,0.467699,-0.499501,0.043377,-0.625067,-0.245247,-0.167378,1.927067,0.287514,-0.123486,-0.232186,-0.207223,-0.290648,1.824323,2.131776,0.011861,-0.000805,0.112012,0.047148,-0.280352,0.050646,-0.264504,0.046483,-0.277960,-0.221373,0.241048,-0.274787,-0.006687,0.638406,-0.123876,-0.013676,-0.297663,-0.062164,-0.004032,-0.002016,-0.034649,-0.0247,-0.022457,-0.017923,-0.057891,-0.154893,-0.269136,-0.396179,-0.439962,-0.005749,-0.006842,-0.008065,0.272560,0.725342,0.112641,0.706369,-0.041145,1.184806,-0.369144,-0.118412,-0.483407,-1.054612,1,0,0,0,0,0,0,0,0,1,0